{% extends "layaout.html" %} {% block container %}

<nav class="bg-blue-500 text-white py-2">
    <div class="container mx-auto px-4">
        <ul class="flex space-x-4">
            <li><a href="{{ url_for('main.index') }}" class="hover:bg-blue-600 px-3 py-2 rounded">Inicio</a></li>
            <li><a href="{{ url_for('examenes.crear') }}" class="hover:bg-blue-600 px-3 py-2 rounded">Crear Examen</a></li>
            <li><a href="{{ url_for('examenes.realizar') }}" class="hover:bg-blue-600 px-3 py-2 rounded">Realizar examen</a></li>
            <li><a href="{{ url_for('alumnos.alumno') }}" class="hover:bg-blue-600 px-3 py-2 rounded">Alumno</a></li>
            <li><a href="{{ url_for('examenes.calificaciones') }}" class="hover:bg-blue-600 px-3 py-2 rounded">Calificaciones</a></li>
            <li><a href="{{ url_for('auth.logout') }}" class="hover:bg-blue-600 px-3 py-2 rounded">Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>

<div class="max-w-sm mx-auto">

    <div class="mb-5">
        <h4>Bienvenido, este es el examen del segundo parcial.</h4>
    </div>
</div>
{% endblock %}